streamlit==1.32.2
pdfplumber==0.10.3
pypdf==4.2.0

# --- LangChain correct versions ---
langchain==0.1.13
langchain-core==0.1.32
langchain-community==0.0.29
langchain-text-splitters==0.0.1

# --- Google genAI ---
langchain-google-genai==0.0.6
google-generativeai==0.3.2

# --- Vector DB ---
faiss-cpu

# --- Others ---
tiktoken==0.5.2
python-dotenv==1.0.1
requests
numpy
