streamlit==1.32.2

# Core LangChain
langchain==0.1.20
langchain-core==0.2.24
langchain-community==0.2.20

# Gemini integration
langchain-google-genai==1.0.1
google-generativeai==0.5.4

# Embeddings
sentence-transformers==2.7.0

# Vector DB
faiss-cpu==1.7.4

# Text splitting
langchain-text-splitters==0.2.2

# PDF parsing
pdfplumber==0.10.3

# HuggingFace embeddings
transformers==4.37.2

